body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    animation: fade-in 1s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    opacity: 0;
    animation: slide-up 1s forwards 0.5s;
}

button,
input[type="file"],
.toggle-button {
    display: block;
    background-color: #897f7a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
    width: 180px; 
    box-sizing: border-box; 
}

input[type="file"] {
    padding: 8px 16px; /* Adjust padding to make it smaller */
    font-size: 14px; /* Adjust font size to make it smaller */
}


button:hover,
input[type="file"]:hover,
.toggle-button:hover {
    background-color: #9755cd;
}

.canvas-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

canvas {
    display: block;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slide-up 1s forwards 0.7s;
}

.strokeWeight-container,
.shapeTool-container,
.controls-container,
.download-container,
.upload-container {
    position: absolute;
    left: 10px;
}

.strokeWeight-container {
    top: 18%;
    transform: translateY(-50%);
}

.shapeTool-container {
    top: 40%;
    transform: translateY(-50%);
}


.controls-container {
    position: absolute;
    top: 65%;
    left: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between; /* Adjust alignment */
    flex-direction: row;
    padding: 0 5px; /* Add padding to create space */
}

.controls-container > * {
    flex: 0 0 auto; /* Prevent buttons from shrinking */
    margin-left: 5px; /* Adjust spacing between elements if needed */
    padding: 8px 9px; /* Adjust padding to make buttons smaller */
    font-size: 14px; /* Adjust font size to make buttons smaller */
    width: auto; /* Reset the width to let the content determine the width */
}



.download-container {
    top: 75%;
    transform: translateY(-50%);
}

.upload-container {
    top: 10%;
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .canvas-container {
        width: 90%;
    }

    .strokeWeight-container,
    .shapeTool-container,
    .controls-container,
    .download-container,
    .upload-container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 100%;
    }
}
